html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
  height: 100%;
  background: #000;
  background: blue;
}

.carousel-caption{
padding-bottom:10%;
}

h2{
    color: white;
    font-size: 60px;
    font-family: 'vcr_osd_monoregular';
    text-shadow: none;
    position: fixed;
    top: 17%;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}
p{
    padding:10px;
    font-family: 'vcr_osd_monoregular';
    font-size: 18px;
    text-shadow: none;

}

a{color:red}
li{
    padding:10px;
    font-family: 'vcr_osd_monoregular';
    font-size: 24px;
    text-shadow: none;

}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    background-color:blue;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:0.6;
}


/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


body {
    animation-name: pulse;
    animation-duration: .07s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

@keyframes pulse {
    0%, 100% {
        opacity: .95;
    }
    25% { opacity: .92; }
    75% {  opacity: .92; }
}