html,
body {
    height: 100%;
        width: 100%;

}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
  height: 100%;
  background-image: -webkit-radial-gradient(circle, blue, darkblue);

}

.carousel-caption{
padding-bottom:10%;
}

h2{
    color: white;
    font-size: 60px;
    font-family: 'vcr_osd_monoregular';
    text-shadow: none;
    position: fixed;
    top: 17%;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;

}
p{
    padding:10px;
    font-family: 'vcr_osd_monoregular';
    font-size: 18px;
    text-shadow: none;

}

a{color:red}
li{
    padding:10px;
    font-family: 'vcr_osd_monoregular';
    font-size: 24px;
    text-shadow: none;

}

/* Background images are set within the HTML using inline CSS, not here */

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes flicker {
  20% {
    opacity: 0.97438;
  }
  30% {
    opacity: 0.95001;
  }
  80% {
    opacity: 0.97441;
  }
}
.vcr-container {
  background: black;
  position: relative;
  animation: flicker 0.15s infinite;

}
.vcr-container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.vcr-container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}


@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2);
    filter: contrast(1) brightness(1.2);
    opacity: 0;
  }
}
@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
      background-image: -webkit-radial-gradient(circle, blue, darkblue);

  }
}

#switch ~ .vcr-container{
  animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.overlay {
  color: white;
  position: absolute;
  font-family: 'vcr_osd_monoregular';

  top: 20px;
  left: 20px;
  font-size: 24px;
  pointer-events: none;
}

.screen {
  animation: turn-on 4s linear;
}
