.call-head{
    display: block;
    background: lightgrey;
}

.dict{
    padding : 5px;
    color : green;
    border-radius : 5px;
    background-color : lightgreen;
}

.list{
    font-family: 'vcr_osd_monoregular';
    padding : 5px;
    border-radius : 5px;
    color : blue;
    background-color : lightblue;
}

.primative{
    font-weight : initial;
    color : red;
}

.jumbotron{
    background-color: blue;
    color: white;
    font-size: 48px;
    text-align: center;
    font-family: 'vcr_osd_monoregular';
    margin-bottom: 0px;
}

.link-row{
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: 'vcr_osd_monoregular';
    padding-bottom: 20px;
}

