.call-head{
    display: block;
    background: lightgrey;
}

.dict{
    color : green;
    background-color : lightgreen;
}

.list{
    color : blue;
    background-color : lightblue;
}

.primative{
    font-weight : initial;
    color : red;
}